body{
    font-family: 'Mulish', sans-serif;
}

.yellow{
    color: #FF5400;
}

.yellow-2{
    color: #FF5400;
    font-weight: 700;
}

.intro-icon-div{
    display: flex;
    margin-left: 130px;
}

.intro-head{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 16px;
}

.intro-icon{
    margin-top: 34px;
    width: 56px;
    height: 48px;
}

.intro-ul{
    list-style: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    gap: 44px;
    margin-top: 50px;
}

.intro{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.intro-ban-cont{
    margin: 0px 130px;
    position: relative;
}

.intro-banner{
    width: 1170px;
    height: 500px;
}

.banner-head{
    color: #FFF;
    font-size: 3em;
    font-weight: 800;
    margin-left: 55px;
    margin-top: 100px;
}

.banner-des{
    color: #FFF;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    width: 676px;
    margin-left: 41px;
}

.banner-content{
    position: absolute;
    top: 0px;
    margin-left: 200px;
    margin-bottom: 0px;
}

.ban-btn-div{
    display: inline-flex;
    padding: 16px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 784px;
    height: 52px;
    position: absolute;
    top: 310px;
    margin-left: 185px;
    margin-bottom: 0px;
}

.btn-1-wg{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border: none;
    text-align:center;
}

.btn-2-w{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border: none;
    text-align:center;
}

.btn-3-s{
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    border: none;
    text-align:center;
}
.btn-4-f{
    border-radius: 8px;
    background: #0fce71;
    width: 174px;
    height: 52px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    text-align:center;
}

.main-head-left{
    width: 540px;
    height: 550px;
    margin-left: 130px;
    margin-top: 100px;
}

.main-head-h2-dev{
    top: 0;
}

.main-head-h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.main-head-p1{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    width: 577px;
}

.main-head-ul-li-1{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    width: 525px;
    margin-bottom: 24px;
}

.main-head-ul-li-2{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    width: 525px;
    margin-bottom: 24px;
}

.main-head-ul-li-3{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    width: 525px;
    margin-bottom: 24px;
}

.main-head-p2{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    width: 530px;
    margin-top: 40px;
}

.main-head-btn{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: none;
}

.main-head-btn-div{
    margin-top: 40px;
}

.opt-div{
    display: flex;
}

.opt-pic{
    margin-top: 100px;
    margin-left: 118px;
}

.cyd-head{
    text-align: center;
    margin-left: 375px;
    margin-top: 25px;
    position: absolute;
}

.cyd-head1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0%;
}

.cyd-head2{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.collage{
    margin-top: 200px;
}

.f-row > img{
        width: 100%;
        height: 100%;
}

.f-row{
    width: 1200px;
    height: 300px;
    display: flex;
    gap: 24px;
    margin-left: 130px;
}

.s-row{
    width: 1200px;
    height: 300px;
    display: flex;
    gap: 24px;
    margin-left: 130px;
    margin-top: 24px;
}

.s-row-1{
    width: 374px;
    height: 286px;
}

.s-row-2{
    width: 474px;
    height: 286px;
}

.s-row-3{
    width: 304px;
    height: 286px;
}

.t-row > img{
    width: 100%;
    height: 100%;
}

.t-row{
    width: 1200px;
    height: 300px;
    display: flex;
    gap: 24px;
    margin-left: 130px;
    margin-top: 8px;
}

.wcu-head1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0%;
}

.wcu-head2{
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.wcu-head{
    text-align: center;
    margin-left: 375px;
    margin-top: 25px;
    position: absolute;
}

.wcu-div2{
    width: 1200px;
    margin-top: 25px;
    display: flex;
    margin-top: 300px;
    justify-content: space-between;
    margin-left: 125px;
}

.wcu-body1{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05); 
}

.wcu-body2{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05); 
}

.wcu-div3{
    width: 1200px;
    margin-top: 25px;
    display: flex;
    margin-top: 46px;
    align-items: center;
    justify-content: center;
    margin-left: 125px;
}

.wcu-body3{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05); 
}